{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mind Map</title>
  <!-- <base href="/"> -->

  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'plugins/css/jsmind.css'%}" />


</head>

<body>
  <div class="container">
    <div class="left-sidebar">

      <div class="left_top">


        <div class="begin-design">
          <div class="headline"> 设计问题</div>
          <textarea id="design-problem" placeholder="">在此输入设计问题</textarea>
          <!-- <font color="#432876" size="2px"><span id="counter">0</span>/100</font> -->

          <div class="button-container">
            <button id="design-begin">需求生成 </button>
          </div>

        </div>



        <hr class="gray-line">
        <div class="container-5W1H">
          <div class="question-container">
            <div class="question-box">
              <div class="label-5W1H">谁</div>
              <div class="description-5W1H">谁将使用此产品？</div>
            </div>

            <div class="answer-box">
              <textarea id="who" class="answer-5w1h"></textarea>
            </div>

          </div>

          <div class="question-container">
            <div class="question-box">
              <div class="label-5W1H">是什么</div>
              <div class="description-5W1H">用户如何使用此产品？</div>
            </div>

            <div class="answer-box">
              <textarea id="what" class="answer-5w1h"></textarea>
            </div>

          </div>

          <div class="question-container">
            <div class="question-box">
              <div class="label-5W1H">时间</div>
              <div class="description-5W1H">用户何时使用此产品？</div>
            </div>

            <div class="answer-box">
              <textarea id="when" class="answer-5w1h"></textarea>
            </div>

          </div>

          <div class="question-container">
            <div class="question-box">
              <div class="label-5W1H">原因</div>
              <div class="description-5W1H">用户为什么使用此产品？</div>
            </div>

            <div class="answer-box">
              <textarea id="why" class="answer-5w1h"></textarea>
            </div>

          </div>

          <div class="question-container">
            <div class="question-box">
              <div class="label-5W1H">地点</div>
              <div class="description-5W1H">用户在哪里使用此产品？</div>
            </div>

            <div class="answer-box">
              <textarea id="where" class="answer-5w1h"></textarea>
            </div>

          </div>

          <div class="question-container">
            <div class="question-box">
              <div class="label-5W1H">如何</div>
              <div class="description-5W1H">用户如何使用此产品？</div>
            </div>

            <div class="answer-box">
              <textarea id="how" class="answer-5w1h"></textarea>
            </div>

          </div>
        </div>

        <div class="fbs-button-container">
          <div class="button-container">
            <button id="send-5w1h">生成功能 </button>
          </div>

          <div class="button-container">
            <button id="behaviors-generate">生成行为</button>
            <button id="sructures-generate">生成结构 </button>
          </div>
        </div>
      </div>



      <div class="left_bottom hidden">
        <div class="headline"> 情感词</div>

        <div class="question-container">
          <div class="question-box">
            <div class="label-5W1H label-kansei">名词</div>
          </div>

          <div class="description-kansei">
            <p>你可以从以下几个方面集思广益，寻找灵感资源：</p>
            <ul class="kansei-ul">
              <li><strong>有生命</strong> (如树、海豚......)</li>
              <li><strong>无生命</strong> (如云、波浪......)</li>
              <li><strong>抽象</strong> (如赛博朋克、现代主义......)</li>
            </ul>
          </div>

          <div class="answer-box">
            <textarea id="kansei-words-n" class="answer-5w1h" placeholder="在此输入情感词"></textarea>
          </div>

        </div>

        <div class="question-container">
          <div class="question-box">
            <div class="label-5W1H label-kansei">形容词</div>
          </div>

          <div class="description-kansei">
            <p>你可以从以下几个方面表达您的预期感受：</p>
            <ul class="kansei-ul">
              <li><strong>生理</strong>（如，温暖/寒冷、重/轻、光滑/粗糙、……）</li>
              <li><strong>心理</strong>（如，强/弱、紧张/放松、……）</li>
              <li><strong>文化</strong>（如，现代、优雅、可爱、……）</li>
              <li><strong>物理</strong>（如，明亮/暗淡、尖锐/圆润、大/小、……）</li>
            </ul>
          </div>

          <div class="answer-box">
            <textarea id="kansei-words-a" class="answer-5w1h" placeholder="在此输入情感词"></textarea>
          </div>

        </div>

        <div class="button-container">
          <button id="kansei-words">生成解决方案</button>

        </div>



      </div>


    </div>

    <div class="center-container">
      <div class="button-container fbs-kansei-select">
        <button id="fbs-button" class="active">结构设计</button>
        <button id="kansei-button">外型设计</button>
      </div>
      <div class="mindmap-container">
        <div id="fbs-mindmap">
          <!-- <mind-map></mind-map> -->
        </div>

        <div id="kansei-mindmap" class="hidden">

        </div>
      </div>

    </div>

    <div class="right-sidebar">
      <div class="right_top">
        <div class="headline"> 设计方案</div>


        <div class="map2text-container">
          <div class="structures-container">
            <div class="question-container">
              <div class="question-box">
                <div class="design-concept-container addtextselect" data-label="design-concept1">结构 1</div>

              </div>

              <div class="answer-box">
                <textarea id="design-concept1-answer" class="kansei-scheme-textarea"
                  placeholder="在此输入你的设计理念"></textarea>
              </div>

            </div>

          </div>
        </div>
        <div class="button-container generate-img-container">
          <button id="add-structure">增加新结构</button>
        </div>


      </div>

      <div class="right_bottom hidden">
        <div class="headline"> 设计概念</div>

        <div class="map2text-container">
          <div class="question-container">
            <div class="question-box">
              <div class="kanseibox-container addtextselect" data-label="shape">形状</div>
              <!-- <div class="description-5W1H">What do users do with this product?</div> -->
            </div>

            <div class="answer-box">
              <textarea id="shape-answer" class="kansei-scheme-textarea" placeholder="在此输入你的设计理念"></textarea>
            </div>

          </div>

          <div class="question-container">
            <div class="question-box">
              <div class="kanseibox-container addtextselect" data-label="color">颜色</div>
              <!-- <div class="description-5W1H">What do users do with this product?</div> -->
            </div>

            <div class="answer-box">
              <textarea id="color-answer" class="kansei-scheme-textarea" placeholder="在此输入你的设计理念"></textarea>
            </div>

          </div>

          <div class="question-container">
            <div class="question-box">
              <div class="kanseibox-container addtextselect" data-label="texture">材质</div>
              <!-- <div class="description-5W1H">What do users do with this product?</div> -->
            </div>

            <div class="answer-box">
              <textarea id="texture-answer" class="kansei-scheme-textarea" placeholder="在此输入你的设计理念"></textarea>
            </div>

          </div>
        </div>

        <div class="button-container">
          <button id="image-generate">生成图片</button>
        </div>
      </div>

      <div class="image-container hidden">
        <div class="headline"> 外观图片</div>
        <div class="image-box">
          <!-- <img src="{%static 'img/output/tjFpUyubS.png'  %}" alt="">
          <img src="{%static 'img/output/tjFpUyubS.png'  %}" alt="">
          <img src="{%static 'img/output/tjFpUyubS.png'  %}" alt="">
          <img src="{%static 'img/output/tjFpUyubS.png'  %}" alt=""> -->

        </div>
      </div>
    </div>

  </div>

  <script src="{%static 'plugins/js/jquery-3.6.1.min.js' %}"></script>

  <script type="text/javascript" src="https://jsd.onmicrosoft.cn/npm/jsmind@0.6.4/es6/jsmind.js"></script>
  <script type="text/javascript" src="https://unpkg.com/jsmind@0.6.4/es6/jsmind.js"></script>

  <script type="text/javascript" src="https://unpkg.com/jsmind@0.6.4/es6/jsmind.draggable-node.js"></script>
  <!-- <script src="{%static 'plugins/js/jsmind.js'%}"></script> -->
  <!-- <script src="{%static 'plugins/js/jsmind.draggable.js'%}"></script> -->
  <script src="{%static 'js/untils.js'%}"></script>
  <script src="{%static 'js/pageshow.js'%}"></script>
  <script src="{%static 'js/mindmap.js'%}"></script>
  <script src="{%static 'js/map2text.js'%}"></script>
  <script src="{%static 'js/jsfbs.js'%}"></script>

</body>

</html>